<p>19. května 1943. <br>Dnes v noci odvážejí moji Gustinu do Polska „na práci“. Na galeje, k smrti tyfem. Zbývá snad několik týdnů, snad dva tři měsíce života. Moje spisy byly prý vydány soudu. Snad tedy ještě čtyři neděle ve vyšetřování na Pankráci a pak opět dva tři měsíce do konce. Tato reportáž už nebude dokončena. Pokusím se v ní ještě pokračovat, bude-li těch několik dní ještě příležitost. Dnes nemohu. Dnes mám plnou hlavu i srdce Gustiny, člověka ušlechtilého a hluboce vroucího, vzácného, oddaného druha v životě, který byl strmý a nikdy klidný.</p>

<p>Večer co večer zpívám jí píseň, kterou měla ráda: o modravé trávě stepi, šumící slavnou bájí partyzánských bojů, o kozačce, která po boku mužů dobývala svobody, o její chrabrosti a o tom, jak v jednom z bojů „jej podňaťsja s zemli něpřišlos“.
</p>

<p>Vot, moj družok bojevoj! Kolik síly je v tom drobném stvoření s tváří pevně tesanou a s velkýma dětskýma očima, v nichž je tolik něhy! Boj a stále odlučování činilo z nás věčné milence, kteří ne jednou, ale stokrát v životě prožívají horoucí chvíle prvních pohlazení a prvních poznání. a přece je to vždy jeden tep, kterým tepe naše srdce a jeden dech, který dýcháme v hodinách blažených i v hodinách úzkosti, vzrušení nebo smutku.
</p>

<p>
  Po léta jsme pracovali spolu a pomáhali si, jak jen kamarád dovede pomáhat kamarádovi, po léta byla mým prvním čtenářem a prvním kritikem a těžko se mi psávalo, když jsem necítil její laskavý pohled v zádech, po léta jsme stáli vedle sebe v zápasech, na něž jsme nebyli chudi, a po léta jsme se spolu ruku v ruce toulali po krajích, které jsme milovali. Zkusili jsme mnoho nesnází a prožili mnoho velkých radostí, neboť jsme byli bohati bohatstvím chudých. Tím, které je uvnitř.
</p>
<p>[ … ]</p>
<p>Gustina? Hle, toto je Gustina:</p>
<p>
  Bylo to ve stanném právu, v polovině června minulého roku. Viděla mne po prvé po šesti nedělích od našeho zatčení, po všech těch strastných dnech, kdy sama na cele přemítala o zprávách, které jí zvěstovaly mou smrt. Zavolali ji, abych změkl.<br>
  „Domluvte mu,“ říkal jí šéf oddělení při konfrontaci se mnou, „domluvte mu, ať má rozum. Nemyslí-li na sebe, ať myslí alespoň na vás. Máte hodinu na rozmyšlenou. Zůstane-li pak tvrdý, budete dnes večer zastřeleni. Oba.“<br>
  Pohladila mne pohledem a odpověděla prostě:<br>
  „Pane komisaři, to není pro mě hrozba, to je má poslední prosba. Popravíte-li jeho, popravte mne taky.“<br>
</p>
<p>Hle, to je Gustina! Láska a pevnost.</p>
<p>
  Život nám mohou vzít, viď, Gustino, ale naši čest a naši lásku nemohou.<br>
  Och, lidé, dovedete si představit, jak bychom žili, kdybychom se znovu shledali po tom všem strádání? Znovu shledali v životě svobodném, krásném volností a tvořením? Až bude to, po čem jsme toužili a oč jsme usilovali a zač teď jdeme umírat? Ach, právě, i mrtvi budeme přece žít někde v kousíčku vašeho velikého štěstí, protože jsme do něj vložili svůj život. a to nám dává radost, i když je smutno z loučení.<br>
  Ani nám nedovolili se rozloučit, ani obejmout, ani ruku podat. Jen vězeňský kolektiv, spojující i Karlovo náměstí s Pankrácí, dává nám navzájem zprávu o našem osudu.<br>
  Ty víš, Gustino, i já vím, že už se asi nikdy neuvidíme. a přece tě slyším z dálky volat: Na shledanou, můj milý!</p>
  <p>
  Na shledanou Gustino moje!
  </p>
